.about-me {
  width: 100%;
  padding: 30px 20px;
  background: $main-background-bottom;
  color: $font-color;
  .title-section {
    @include title-section;
  }
  .text-section {
    line-height: 1.35rem;
    font-size: 0.95rem;
    text-align: left;
    color: darken($font-color, 13%);
  }
}
