.contact {
  width: 100%;
  padding: 0 20px;
  background: $main-background-top;
  .title-section {
    @include title-section;
  }
  .contact-links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-link {
    text-align: center;
    color: darken($font-color, 10%);
    font-size: 0.85rem;
  }
  .contact-awesome {
    width: 25px;
    padding: 5px 5px;
    font-size: 0.85rem;
  }
}
.footer {
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  background: $main-background-bottom;
  .title-footer {
    padding: 15px 0 5px;
    color: darken($font-color, 25%);
  }
}
