* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  // display: block;
  text-decoration: none;
  color: $font-color;
}
ul {
  list-style: none;
}
button {
  display: block;
  background-color: transparent;
  border: none;
}
.wrapper {
  width: 100%;
  min-height: 200vh;
  // background: $main-background-top;
  overflow: hidden;
}
.main {
  width: 100%;
  max-width: $max-width;
  min-height: 130vh;
}
i {
  display: flex;
  flex-direction: column;
  font-size: 2.3rem;
}
