$max-width: 1150px;
$font-color: #ddd;
$main-background-bottom: radial-gradient(
  ellipse at bottom,
  #1b2735 0%,
  #090a0f 100%
);
$main-background-top: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);

$hover-color: rgb(255, 255, 255);
$color-font: rgb(155, 218, 216);
